body {
  font-family: 'Segoe UI', sans-serif;
  background-color: white;
}

#navbar {
  background-color: #000000;
}

.navbar .nav-link {
  color: white;
}

.navbar .nav-link:hover {
  color: #5C3B1E;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

#brand {
  font-family: 'Courier New', Courier, monospace;
  color: #C600FF;
}

.footer {
  background-color: #000000 !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  color: #C600FF;
}

.fw-bold {
  color: white;
}

.fw-semibold {
  color: white;
}

#navlogo {
  width: 50px;
  height: 50px;
}

.promo-card {
  border: 2px dashed black;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease;
  margin-bottom: 50px;
  margin-top: 30px;
}

.promo-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 2px solid #C600FF;
}

#moredeals {
  align-items: center;
  text-decoration: none;
  color: black;
}

#containerdeals {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#pagetitle {
  color: #000000;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
}

#table {
  border: #5C3B1E solid 2px;
  border-radius: 6px;
  padding: 10px;
  box-shadow: none;
}

.booking-card {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: #000000 solid 2px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #0000008e;
}

.form-label {
  color: white;
}

.form-title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn {
  width: 40%;
  height: auto;
  background-color: #000000;
  color: white;
}

.btn:hover {
  background-color: white;
  color: #000000;
  border: #000000 solid 1px;
}

#btncon {
  display: flex;
  justify-content: center;
}

.label {
  color: white;
}

.form-control {
  width: 200px;
  height: auto;
}

b{
  color: #8b0000;
}

@media (max-width: 768px) {
  .sidebar-menu-button {
    position: fixed;
    left: 20px;
    top: 20px;
    height: 40px;
    width: 42px;
    display: flex;
    color: #F1F4FF;
    background: #151A2D;
  }

  .sidebar.collapsed {
    width: 270px;
    left: -270px;
  }

  .sidebar.collapsed .sidebar-header .sidebar-toggler {
    transform: none;
  }

  .sidebar.collapsed .sidebar-nav .primary-nav {
    transform: translateY(15px);
  }

  .container {
    margin: 20px;
    padding: 20px;
  }

  h2 {
    font-size: 24px;
  }

}

#fullName {
  width: 100%;
  height: auto;
}

#contactNumber {
  width: 100%;
  height: auto;
}

#emailAddress {
  width: 100%;
  height: auto;
}

#licenseUpload {
  width: 37%;
  height: auto;
}

#container {
  max-width: 700px;
  margin: 50px auto;
  background-color: #0000008e;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  font-family: 'Courier New', Courier, monospace;
  border: #000000 solid 2px;
}

h2 {
  color: black;
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 28px;
  text-align: center;
}

h4 {
  color: rgba(0, 0, 0, 0.705);
  margin-top: 30px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

p {
  font-size: 16px;
  color: whitesmoke;
  margin: 5px 0;
}

ul {
  margin: 0;
  padding-left: 20px;
}

li {
  font-size: 16px;
  color: #444;
}

#extrasprice{
  color: white;
}

#totalprice{
  margin-bottom: 50px;
  font-size: 25px;
}

.reminder{
  font-family: monospace;
  margin-top: 30px;
}

.reminder p{
  font-size: 12px;
  color: #413c3c;
}